button_color = #333

.button {
	background-color: button_color;
	cursor: pointer;
}
.button:hover {
	background-color: button_color + 5%;
}
.button:active {
	background-color: button_color + 10%;
	position: relative;
	top: 1px;
	left: -1px;
}